*{
    box-sizing: border-box;
}
body{
    background-color: #20262E;
    color:#E9E8E8;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    padding:20px;
   margin:0px;
  
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;


}
h2{
    color:#E9E8E8;
    font-size: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;


}
.container{
    background-color: #913175;
    padding:20px;
    border:20px #CD5888 black;
    
    width:350px;
    max-width: 100%;

}

.resultcontain{
    background-color: #CD5888;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    width:100%;
    height:40px;
}
.btn{
    border:none;
    background-color: #20262E;
    color:#E9E8E8;
    font-size: 16x;
    padding: 8px 12px;
}
.resultcontain .btn{
    position: absolute;
    top:5px;
    right:5px;
    width:40px;
    height:30px;
}
.setting{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}
.btn-large{
    width:100%;
    height:40px;
    background-color:#20262E;
    color: #E9E8E8;
    display:block;
}