*{
    padding:0;
    margin:0;
}

body{
    background-color: #73C7C7;
    color:#F4F8D3;
    text-align: center;

}
h1{
    font-size: 3rem;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: #A6F1E0; #F7CFD8 */

}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    gap:2vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-size: 10vmin;
    color:#F7CFD8 ;
}

#reset-btn{
    padding:10px;
    width:150px;
    font-size: 1.1rem;
    background-color: #F7CFD8;
   border:none;
}

#new-btn{
     padding:10px;
    width:150px;
    font-size: 1.1rem;
    background-color: #F7CFD8;
    border:none;

}

#msg{
    font-size: 5vmin;
}

.msg-box{
    height:15vmin;
   
}

.hide{
    display: none;
}